:root {
    --ox-tufte-content-width: 55%; /* set value consistent with "section > p" */
    --ox-tufte-fullwidth: 163.636%; /* 90% of body, when ancestor is at 55% */
    --ox-tufte-src-code-width: 97%;
    /* 50+5=55% this is what is used by section > {dl, ol, ul} */
    --ox-tufte-list-width: 50%;
    --ox-tufte-list-padding-left: 5%;
    /* marginnote and sidenote settings from tufte.css */
    --ox-tufte-note-line-height: 1.3;
    --ox-tufte-note-font-size: 1.1rem;
    /* values tufte.css reuses for h1,h3,h3 */
    --ox-tufte-heading-font-style: italic;
    --ox-tufte-heading-font-weight: 400;
    --ox-tufte-heading-line-height: 1;
    --ox-tufte-heading-code-font-size: 0.80em;
    --ox-tufte-heading-min-margin-bottom: 1.4rem; /* h3=1.4rem; p=1.4rem; */
    --ox-tufte-heading-min-font-size: 1.4rem; /* p=1.4rem; */
}

/**************************************************************************/
/* re-specify tufte.css values, for compatibility with org-generated html */
/**************************************************************************/
article > p,
article > div,
article > table,
section > div,
section > h2 { /* set value consistent with "section > p" */
    width: var(--ox-tufte-content-width);
}
article > p .fullwidth,
article > div .fullwidth,
section > div .fullwidth {
    max-width: var(--ox-tufte-fullwidth);
    width: max-content;
}
@media (max-width: 760px) {
    div.epigraph > blockquote.fullwidth {
        width: unset;
    }
}
section > dl, section > ol, section > ul,
article > dl, article > ol, article > ul {
    width: var(--ox-tufte-list-width);
    /* instead of tufte.css's -webkit-padding-start, which doesn't work */
    padding-inline-start: var(--ox-tufte-list-padding-left);
}
blockquote .marginnote, blockquote .sidenote {
    font-style: normal;
}
/* code blocks. tufte.css also allows for code within headers and
 * sidenotes/marginnotes. these are currently not supported by us. */
.org-src-container {
    max-width: var(--ox-tufte-fullwidth);
    width: var(--ox-tufte-fullwidth);
}
body pre { /* monospace content: .src .example */
    /* FROM: "code, pre > code" in tufte.css */
    font-size: 1rem;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
    /* FROM: pre.fullwidth > code in tufte.css; but adjusted */
    width: var(--ox-tufte-src-code-width);
    clear: both; /* ensure that it doesn't overlap sidenotes */
    /* unset some unnecessary 'org' defaults, which interfere with tufte */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: 0;
}
.sans pre {
    font-size: 1.2rem; /* from ".sans > code" */
}
article div figure {
    /* tufte.css doesn't intend figure to be within div, but org generates it as
     * such. reset width to full width of article as tufte.css intends */
    max-width: 100%
}
div.epigraph blockquote p, div.epigraph blockquote footer {
    width: 100%
}

/**********************************************************/
/* tufte.css fixes; should probably be submitted upstream */
/**********************************************************/
.sans .numeral { /* don't use et-book-roman-old-style when using .sans */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
article { /* needed, if sidenotes have large content */
    /* we don't apply this on "section", because we do want the sections to be
     * overlappable with the sidenotes of previous section */
    overflow-y: auto;
}

/****************************/
/* unset/alter org defaults */
/****************************/
#content { /* ID corresponding to main article (excluding pre/postamble) */
    max-width: 100%;
}
/* verse */
p.verse { /* this verse element will always be within a <blockquote> */
    /* tufte.css already provides margin-left/right for enclosing blockquote */
    margin-left: 0;
}
#footnotes { /* needed, if sidenotes have large content */
     /* we want to make sure that the footnotes section starts after all the content
      * for "sections" and "sidenotes" is done */
    clear: both;
    width: unset;
}

/***************************/
/* undo tufte.css defaults */
/***************************/
body pre.example { /* in org, this is within blockquote */
    font-style: normal;
}
/* verse: undoing "blockquote p, blockquote footer" from tufte.css */
div.verse blockquote p, div.verse blockquote footer {
    width: 100%
}

/********************************************************/
/* verse blocks: support and distinguish from epigraphs */
/********************************************************/
div.verse > blockquote {
    /* gray bar on the left */
    border-left: 3px solid #ccc;
    padding-left: 10px;
}

/***********************************/
/* tufte.css consistent extensions */
/***********************************/
/***************************/
/* support for h4 headings */
/***************************/
h4 > code {
    font-size: var(--ox-tufte-heading-code-font-size);
}
h4 {
    font-style: var(--ox-tufte-heading-font-style);
    font-weight: var(--ox-tufte-heading-font-weight);
    margin-bottom: var(--ox-tufte-heading-min-margin-bottom);
    line-height: var(--ox-tufte-heading-line-height);
}
h4 {
    font-size: 1.5rem; /* h3=1.7rem; */
    margin-top: 1.8rem; /* h3=2rem; */
}

/************************************/
/* sidenotes in headings h2, h3, h4 */
/************************************/
h2 .sidenote, h2 .marginnote,
h3 .sidenote, h3 .marginnote,
h4 .sidenote, h4 .marginnote {
    font-style: normal;
    font-weight: normal;
}

/**********************/
/* footnote reference */
/**********************/
.sidenote-number > sup, .sidenote > sup {
    /* same as ".sidenote-number:after", ".sidenote:before" */
    font-size: 1rem;
}
/* we don't rely on CSS numbering */
.sidenote-number:after, .sidenote:before {
    content: none;
}

/****************/
/* small screen */
/****************/
@media (max-width: 760px) {
    :root {
        --ox-tufte-content-width: 100%;
        --ox-tufte-fullwidth: 100%;
        --ox-tufte-list-width: 90;
        --ox-tufte-list-padding-left: 10%;
    }
    /**********************************************************/
    /* tufte.css fixes; should probably be submitted upstream */
    /**********************************************************/
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        /* what tufte.css does results in minute horizontal scrolling on*/
        /* sufficiently small screens; below fixes that */
        margin-left: auto;
        margin-right: 0;
        left: 0;
        float: right;
    }
}

/*****************************************************************************/
/* assorted bugfixes and additional tweaks                                   */
/* NOTE: code below likely needs to be refactored and assimilated into above */
/*****************************************************************************/



/* BEGIN: width and placement of sidenotes + lists, epigraphs */
:root {
    --ox-tufte-sidenote-width-max: 385px;
    --ox-tufte-sidenote-width-standard: 50%;
    --ox-tufte-sidenote-margin-right-min: -462px;
    --ox-tufte-sidenote-margin-right-standard: -60%;
}
blockquote {
    margin-left: calc(100% / 11);
    margin-right: 0;
}
blockquote .sidenote, blockquote .marginnote {
    min-width: unset;
    width:calc(var(--ox-tufte-sidenote-width-standard) / (10 / 11));
    margin-right:calc(var(--ox-tufte-sidenote-margin-right-standard) / (10 / 11));
}
@media (max-width: 760px) {
    div.epigraph blockquote p { overflow-y: auto; }
}
article ul, article ol, article dl {
    width: var(--ox-tufte-list-width); /* 50% */
    padding-inline-start: var(--ox-tufte-list-padding-left); /* 5% */
}
article ul ul, article ol ol, article ul ol, article ol ul {
    padding-inline-start: calc(100% / 10); /* 5% wrt body, when 100% is 50% */
    width: calc(100% * 9 / 10); /* 45% wrt body, when 100% is 50% */
}
section ul, section ol, section dl {
    padding-inline-start: calc(100% / 11);
    width: calc(100% * 10 / 11);
}
article ul .sidenote, article ol .sidenote,
article ul .marginnote, article ol .marginnote {
    width: min(var(--ox-tufte-sidenote-width-max), calc(var(--ox-tufte-sidenote-width-standard) / (10 / 11)));
    margin-right: max(var(--ox-tufte-sidenote-margin-right-min), calc(var(--ox-tufte-sidenote-margin-right-standard) / (10 / 11)));
}
article ul ul .sidenote, article ul ul .marginnote,
article ul ol .sidenote, article ul ol .marginnote,
article ol ol .sidenote, article ol ol .marginnote,
article ol ul .sidenote, article ol ul .marginnote { /* 11/9 = 11/10 X(10/9) */
    width: min(var(--ox-tufte-sidenote-width-max), calc(var(--ox-tufte-sidenote-width-standard) / (9 / 11)));
    margin-right: max(var(--ox-tufte-sidenote-margin-right-min), calc(var(--ox-tufte-sidenote-margin-right-standard) / (9 / 11)));
}
@media (max-width: 760px) {
    ul li, ol li {
        overflow-y: auto;
        /* however, this causes issues: https://stackoverflow.com/a/40912185 */
        list-style-position: inside;
        margin-left: -1em;
    }
}
/* fix padding issues first and make them percentages */
article dl > dd {
    margin-left: calc(100% / 10);
}
/* fix sidenote width and margin-right */
article dl dt .sidenote, article dl dt .marginnote {
    width: min(var(--ox-tufte-sidenote-width-max), calc(var(--ox-tufte-sidenote-width-standard) / (10 / 11)));
    margin-right: max(var(--ox-tufte-sidenote-margin-right-min), calc(var(--ox-tufte-sidenote-margin-right-standard) / (10 / 11)));
    font-weight: normal;
}
article dl dd .sidenote, article dl dd .marginnote { /* 11/9 = 11/10 X(10/9) */
    width: min(var(--ox-tufte-sidenote-width-max), calc(var(--ox-tufte-sidenote-width-standard) / (9 / 11)));
    margin-right: max(var(--ox-tufte-sidenote-margin-right-min), calc(var(--ox-tufte-sidenote-margin-right-standard) / (9 / 11)));
}
/* also check on smaller screens */
@media (max-width: 760px) {
    dl dt, dl dd {
        overflow-y: auto;
    }
}
article dl dl {
    padding-inline-start: calc(100% / 9); /* 5% wrt body, when 100% is 45% wrt body */
    width: calc(100% * 8 / 9); /* 40% wrt body */
}
article dl dl > dd {
    margin-left: calc(100% / 8) /* 5% wrt body, when 100% is 40% wrt body */
}
article dl dl dt .sidenote, article dl dl dt .marginnote { /* 11/8 = 11/10 x 10/9 x 9/8 */
    width: min(var(--ox-tufte-sidenote-width-max), calc(var(--ox-tufte-sidenote-width-standard) / (8 / 11)));
    margin-right: max(var(--ox-tufte-sidenote-margin-right-min), calc(var(--ox-tufte-sidenote-margin-right-standard) / (8 / 11)));
    font-weight: normal;
}
article dl dl dd .sidenote, article dl dl dd .marginnote { /* 11/7 */
    width: min(var(--ox-tufte-sidenote-width-max), calc(var(--ox-tufte-sidenote-width-standard) / (7 / 11)));
    margin-right: max(var(--ox-tufte-sidenote-margin-right-min), calc(var(--ox-tufte-sidenote-margin-right-standard) / (7 / 11)));
}

/* BEGIN BONUS: fix top-level code blocks */
article>section .org-src-container { /* make .org-src-container in ox-tufte.css more specific */
    max-width: var(--ox-tufte-fullwidth);
    width: var(--ox-tufte-fullwidth);
}
article > div.org-src-container { /* override .org-src-container in ox-tufte.css for toplevel */
    max-width: 90%;
    width: 90%;
}
/* END BONUS: fix top-level code blocks */
/* END: width and placement of sidenotes + lists, epigraphs */
